.title {
    font-size: 6rem;
}

/* @media screen(max-width:500px) {
    .title
    {
        color:green;
    }
} */
/* @media all and (max-width:500px)
{
    .title
    {

        color:yellow;
    }
} */

/* for all screen by default  */
@media (max-width:500px) {
    body {
        background-color: aliceblue;
    }
}

/* For Print  */
@media print {
    .title {
        color: red;
    }
}

@media (orientation:landscape) {
    .title {
        color: aqua;
    }

}

/* and  */
@media (orientation:portrait) and (max-width:500px) {
    .title {
        color: rgb(21, 255, 0);
    }

}

/* or  */
@media (orientation:portrait),
(min-width:700px) {
    .title {
        color: rgb(221, 0, 255);
    }

}

@media screen and (min-width: 800px) {
    body {
        background-color: lavender;
    }
}