img {
    /* width: 200px; */
    height: 200px;
    object-fit: cover;
}
/* #category_selector {
    position : sticky ; */
    /* width: 100%; */
    /* top: 50px;
    left :0px;
    z-index: 1;
  } */