@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading {
  color: rgb(16, 71, 130);
}

#ip_container_form {
  border-radius: 5px;
  margin-top: 10vh;
  padding: 50px;
  border: 2px solid black;
  text-align: center;
}

#ip_container_form input {
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  outline-color: rgb(26, 130, 215);
  font-size: 1.3rem;
}

#ip_container_form button {
  margin: 10px;
  padding: 5px;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 10px;
  background: none;
}

#ip_container_form button:enabled {
  color: green;
  border: 3px solid green;
}

#ip_container_form button:hover:enabled {
  background-color: rgb(26, 130, 215);
  color: white;
  border-color: black;
}

#result {
  font-size: 1.3rem;
}

@media(max-width:768px) {
  .container-div {
    padding: 10px;
  }

  #ip_container_form {
    margin: 10px;
  }

}