<section class="gradient-custom" *ngIf="!(loginlogout.auth_user())">
  <div class="container pt-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-6">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login</h3>
            <form>
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>

                    <input
                      type="email"
                      id="emailAddress"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="password">Password</label>

                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2 text-center">
                <input
                  class="btn btn-primary btn-lg"
                  type="submit"
                  value="Login"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"><small>OR</small></div>
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-6">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-3 md-5 text-center">
            <a (click)="login()" class="text-decoration-none">
              Login Using Google
              <em class="fab fa-google p-1" style="font-size: 24px"></em
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
