<!-- <a [attr.href]=link>Google</a>
<p [attr.align]=align [style.backgroundColor]=color>This is a paragraph</p>
<div [ngStyle]=currentStyle>My div</div>
<div [ngClass]="{'clr':'state'}">Good Morning</div> -->
<!-- <app-event></app-event> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <div *ngIf="!(coursenames.length)">
    No Courses yet
</div>
<ul>
<li *ngFor="let course of coursenames;let i=index">{{course}}
    <button (click)="deletecourse(i)">Remove</button>
</li>

</ul>
<app-output (newcourseadded)=addItemToArray($event) [coursecount]="coursenames.length"></app-output> -->
<!-- <app-size-change (resize)="fontsizepx=$event" [fontsize]="fontsizepx"></app-size-change>
<input #fsize type="number" min="0" [value]="fontsizepx" (input)="fontsizepx=fsize.value"><br> -->

<!-- <app-twdbip [(size)]="fontsizepx"></app-twdbip>
<input type="number" [(ngModel)]="fontsizepx" > -->
<!-- Red : <input type="radio" name="clrradio" (click)="color='red'"><br>
Yellow : <input type="radio" name="clrradio" (click)="color='yellow'"><br>
Green : <input type="radio" name="clrradio" (click)="color='green'"><br>
<p appHighlight>This is my paragraph.</p>
<p [appHighlight]="color">This is my paragraph.</p>
<input type="text" appCapital >
<input type="text" appCapital > -->
<!-- <app-form-handling></app-form-handling>
 -->
 <!-- <app-reactive-forms></app-reactive-forms>
 -->
 <!-- <app-web-service></app-web-service>
 -->
<app-posts></app-posts>
