.required::after
{
    content: '*';
}
[data-tooltip]
{
    position: relative;
}
[data-tooltip]:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    margin-top: 5px;
    padding: 5px;
    background-color: beige;
    
}