<web-app>
    <servlet>
        <servlet-name>PrimeNumber</servlet-name>
        <servlet-class>PrimeNumber</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimeNumber</servlet-name>
        <url-pattern>/PrimeNumber</url-pattern>
    </servlet-mapping>
</web-app>